[package]
name = "balloc"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
spin = { version = "0.9.4", optional = true }

[dev-dependencies]
balloc = { path = ".", features = ["spin"] }
rand = "0.8.5"